* {
    margin: 0;
    padding: 0;
}

body {
    font-family: poppins, calibri, sans-serif;
    font-size: 12pt;
    background-color: #f1f1f1;
}

#container {
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
}


/* bagian header */

#header {
    background-image: url(images/header.jpg);
    background-size: cover;
    height: 600px;
    padding: 15px;
    width: 80%;
    margin: 0 auto;
}

.konten-header {
    padding-top: 15%;
}

.paragraf-header {
    width: 35%;
    font-size: 11pt;
    text-align: justify;
    color: darkgray;
}

#header h1 {
    font-size: 34pt;
    line-height: 24pt;
    color: #605FA8;
}

#header h2 {
    font-weight: normal;
    letter-spacing: 5pt;
    color: rgb(240, 186, 86);
    font-size: 18pt;
}

#header button {
    padding: 8px 18px;
    border-radius: 50px;
    background: #605FA8;
    color: white;
    font-size: 9pt;
    border: 0;
}

#header button:hover {
    color: #605FA8;
    background: white;
    border: 1px solid #605FA8;
}


/* bagian deskripsi singkat */

#shortdesc {
    width: 80%;
    background-color: #605FA8;
    text-align: center;
    margin: 0 auto;
    padding: 15px;
    /* position: relative;
    bottom: 50px; */
    margin-top: 0px;
}

#shortdesc h1 {
    color: white;
    font-size: 40pt;
    text-align: center;
    padding-top: 40px;
    font-family: century gothic;
    font-weight: bolder;
}

.garis {
    border: 2px solid white;
    width: 10%;
    margin-bottom: 30px;
}


/* Clear Float */

#rapi {
    clear: both;
}


/* Css Menu Navigasi */


/* nav {
    width: 100%;
    height: 30px;
    line-height: 30px;
}

nav ul {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    float: left;
    width: 120px;
    text-align: center;
    color: rgb(48, 48, 48);
    font-size: 10pt;
}

nav ul li a:hover {
    background-color: #605FA8;
    color: white;
    font-weight: bold;
    transition: all 0.5s;
}

nav ul li:hover ul {
    display: block;
    transition: delay 2s;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 35px;
    left: 890px;
    background-color: #605FA8;
    padding-left: 10pt;
}

nav ul li ul li a {
    width: 235px;
    height: 35px;
    display: block;
    text-align: left;
    color: white;
}

nav ul li ul li a:hover {
    font-weight: bold;
} */


/* Bagian Menu Navigasi */

a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s;
}

a:hover {
    transition: 0.3s;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(54, 54, 54);
}


/* Bagian Title */

.title {
    display: inline-block;
    float: left;
    line-height: 50px;
    color: white;
    margin-left: 140px;
}

.title a:hover {
    color: #CDDC39;
}


/* Bagian Menu Box */

.tblmenubox {
    display: inline-block;
    float: right;
    line-height: 50px;
}

.tblmenu {
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(nav-icon.png);
    right: 50px;
    top: 15px;
    transform: translatey(-20%);
}

.tblmenubox {
    display: none;
    visibility: hidden;
}


/* Bagian Menu Navigasi */

.wrap {
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 999;
}

.menu {
    display: inline-block;
    float: right;
    margin-right: 140px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover {
    background-color: #605FA8;
}


/* Menu dropdown */

.menu li:hover ul {
    display: block;
}

.menu ul li ul {
    display: none;
    position: absolute;
    top: 50px;
}

.menu ul li ul li {
    width: 250px;
    background-color: rgb(54, 54, 54);
}


/* 
responsive dibawah 800px
*/

@media screen and (max-width:800px) {
    .title {
        margin-left: 10%;
    }
    .menu {
        display: none;
    }
    .tblmenubox {
        display: block;
        visibility: visible;
    }
    .menu.sh {
        display: block;
        position: absolute;
        top: 50px;
        background: #605FA8;
        width: 100%;
        left: 0;
    }
    .menu a:hover {
        color: #fff;
        background: #353535;
    }
    .menu ul li {
        display: block;
        text-align: center;
    }
    .menu ul li ul {
        display: none;
        position: relative;
        top: 0px;
    }
    .menu ul li:hover ul {
        display: block;
    }
    .menu ul li ul li {
        width: 100%;
        background: none !important;
    }
}